AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET_NAME=stock-forecast-mlops-data
MLFLOW_TRACKING_URI=http://localhost:5000
AIRFLOW_UID=50000
PYTHONPATH=.
